# runtime dependencies
beautifulsoup4==4.12.2
soupsieve==2.5
click==8.1.7

# scheduler's dependency --> should also be a separate package
schedule==1.2.1

# runtime dependency of the filesystem config loader --> should be moved to the plugin package in the future
PyYAML==6.0.1